site_name: FastAPI Deprecation
site_description: RFC 9745 compliant deprecation library for FastAPI.
site_author: Fractal Vision

theme:
  name: material
  features:
    - content.code.copy
    - navigation.expand
    - navigation.sections

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          paths: [src]
          options:
            docstring_style: google

nav:
  - Home: index.md
  - API Reference:
      - Core: reference/core.md
      - Dependencies: reference/dependencies.md
      - Utils: reference/utils.md
      - OpenAPI: reference/openapi.md
